/.stack-work/
/*.prof
/TAGS
*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
*.html
.idea
*.iml
.ideaHaskellLib
.dir-locals.el
*.refactored.hs
/*.html
src/**/*.c
/dist/
/dist-new/
.vscode/
/cabal.config
*.aux
*.hp
*.prof
*.ps
*.pdf
cabal.project.local
.ghc.environment.*
.hsenv
/result*
/dist-newstyle
/.direnv

